.button {
background-color: black;
color: #fff;
border-color: black;
border-radius: 0px;
padding: 8px 16px;
}

.button:hover {
border-color: white!important;
}

.loginAdmin {
color: #000;
font-size: 11px;
text-decoration: none;
}
  
.terms {
margin: 0 auto;
font-size: 8px;
width: 300px;
padding-right: 30px;
}
  
.createAcc {
font-size: 10px;
width: 300px;
padding-right: 28px;
}
  
.noStyle {
text-decoration: none;
font-size: 11px;
color: #000;
font-weight: bold;
}
  
.loginInput {
border-color: #000;
border-radius: 0px;
}

.loginInput:focus {
border-color: black;
box-shadow: none;
} 

.eye {
background-color: white;
outline: none;
}

.errorMsg {
font-size: 10px !important;
}

.buttonDemo {
background-color: black;
color: #fff;
border-color: black;
border-radius: 0px;
padding: 11px 20px 11px 20px;
font-size: 11px;
}

.buttonDemo:hover {
border-color: white!important;
}