.footerBg {
    background-color: rgb(23, 4, 4);
  }

footer {
    font-family: var(--sm-font);
  }

footer a{
    transition: color 0.3s ease;
  }

footer a:hover{
    color: white!important;
  }

/* module css allows normal element selectors but normal class selectors will not work meaning you have to use dot notation syntax*/

 
.footerInput:focus {
    box-shadow: none;
  }

.button {
background-color: transparent;
color: white;
padding: 10px 28px;
border: 2px solid white;
  }

.button:hover {
background-color: #000!important;
border-color: white;
  }

.button:focus {
box-shadow: none !important;
  }

.confirmMsg {
font-size: 15px;
}