.dropdown-toggle::after {
    float:right;
    margin-top: 8%;
    margin-right: 0%;
  }

.sizeButton .dropdown-menu {
    border: solid black;
    border-width: thin;
    border-radius: 0;
    margin-top: -3px;
    min-width: 112px !important;
  }

  /* min-width overrides width so you can not change width you can use min-width instead of width */

.dropdownItemBg:hover {
    background-color:  rgb(237, 234, 234);
    color: #000;
  }

  .dropdownItemBg {
    padding-left: 14px;
  }