.sizeToggle {
    color: #000;
    border-color: #000!important;
    border-radius: 0;
    border-width: thin;
    font-size: 14px;
    width: 112px;
   
  }

.fontSize {
    font-size: 14px;
 
}



/* .test {
border: 1px solid red;
} */


