.nav .dropdown-toggle::after {
    display: none; 
  }

/* removes the dropdown carat */

/* .nav {
border: 1px solid red;
} */

.nav .dropdown-menu {
    width: 100%;
    border-radius: 0%;
    border: #fff;
    border-top: 0.01px solid black;
    /* margin-top: 0px;
    margin-bottom: 0px; */
    /* border: 1px solid green; */
    padding-top: 20px;
    padding-bottom: 20px;

 
  }

@media(min-width: 992px){
    .nav .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0px;
   }
  }
  /* add the media for screen cap since we don't want to auto display dropdown on mobile screens */

.navbar {
    padding-top: 5px;
    padding-bottom: 0px;
  }
  /* to close gap between navbar and dropdown menu   */

@keyframes slide {
    from {background: rgba(0, 0, 0, 0.05)}
    to { background: rgba(0, 0, 0, 0.4); }
  }
  
@media(min-width: 992px){
    #lightbox {
      position: fixed;
      top: 95px;
      left: 0;
      width: 100vw;
      height: 100vw;
      align-items: center;
      justify-content: center;
      backdrop-filter: brightness(50%);
      animation: slide 2s; 
      animation-fill-mode: forwards;
    }
}


/* 
@media(max-width: 281px) {
    .icons {
      position: relative;
      right: 80px;

   }
   .galaxy-fold-screen {
    bottom: 40px;
    left: 180px
   }
  }

@media only screen and (min-width: 281px) and (max-width: 361px) {
    .icons {
      position: relative;
      left: 0px;

   }
  }

@media only screen and (min-width: 361px) and (max-width: 480px) {
    .icons {
      position: relative;
      left: 30px;

   }
  }

  @media only screen and (min-width: 481px) and (max-width: 540px) {
    .icons {
      position: relative;
      left: 100px;

   }
  }


  @media only screen and (min-width: 541px) and (max-width: 768px){
    .icons {
      position: relative;
      left: 100px;

   }
  }


  @media only screen and (min-width: 768px) and (max-width: 912px){
    .icons {
      position: relative;
      left: 180px;

   }
  }

  @media only screen and (min-width: 913px) and (max-width: 950px){
    .icons {
      position: relative;
      left: 180px;

   }
  }
 
   @media only screen and (min-width: 949px) and (max-width: 992px){
    .icons {
      position: relative;
      left: 300px;

   }

   .macbookair {
    left: 100px
   }


   
  }  */
  


  @media(max-width: 576px) {
    .resizeHamburger {
        position: absolute;        
    }

    .resizeIcons {
        position: relative;
        right: 55px;
    }
      }

