@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root{
  --lg-font: 'Kaisei Tokumin', serif;
  --sm-font: 'Poppins', sans-serif;
}

.navbar{
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.navbrand {
    letter-spacing: 2px;
    font-family: var(--lg-font);
  }

.button {
    background-color: transparent;
    /* color: white; */
    /* padding: 10px 28px; */

  }

  .navLink {
    color: #000;
    text-decoration: none;
    margin-left: 16px;
    
  }

  .body-items {
    font-size: 10px;
  }

  .subHeader {
    padding-left: 15px;
    padding-bottom: 0px;
    font-weight: bold;
  }
  



  /* #cartBadge {
    margin-top: 8px;
    background-color:#e5345b;
  } */